.container {
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "menu content"
        "footer footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 200px 1fr;
    height: 100vh;
}

.container > div {
    padding: 10px;
    border: 2px solid #5c5761;
    background-color: #cfc8d6;
}
.container > div.header {
    grid-area: header;
    text-align: center;
}
.container > div.nav {
    grid-area: nav;
    text-align: center;
}

.container > div.menu {
    grid-area: menu;
    text-align: center;
}
.container > div.content {
    grid-area: content;
    text-align: center;
}
.container > div.footer {
    grid-area: footer;
    text-align: center;
}