.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "menu content"
        "footer footer footer";
     gap: 5px;
     padding: 5px;
}
.container > div {
    padding: 10px;
    border: 2px solid #5c5761;
    background-color: #cfc8d6;
}
.container > div.header {
    grid-area: header;
    text-align: center;
}
.container > div.nav {
    grid-area: nav;
    text-align: center;
}
.container > div.menu {
    grid-area: menu;
    text-align: center;
}
.container > div.content {
    grid-area: content;
    text-align: center;
}
.container > div.footer {
    grid-area: footer;
    text-align: center;
}