body {
    background-color: #c1b7cb;
    margin-left: 64px;
    margin-right: 64px;
}
@font-face {
    font-family: "My Special Font";
    src: url("../fontit/Delius/Delius-Regular.ttf");
    font-weight: normal;
  }
  @font-face {
    font-family: "My Special Font";
    src: url("../fontit/Delius/Delius-Regular.ttf");
    font-weight: bold;
  }

@font-face {
    font-family: "My Font";
    src: url("../fontit/Mystery_Quest/MysteryQuest-Regular.ttf");
    font-weight: normal;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: "My Font";
}
p {
    font-family: "My Special Font";
}
h1 {
    font-size: 60px;
    color: #868f78;
}
h2 {
    font-size: 48px;
    color: #868f78;
}
h3 {
    font-size: 32px;
    color: #868f78;
}
h4 {
    font-size: 18px;
    color: #868f78;
}
h5, h6 {
    color: #868f78;
}
p {
    color: #50524d;
}
section {
    border: 3px solid #5c5761;
    background-color: #cfc8d6;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}
section > h2 {
    font-size: 48px;
    color: #868f78;
    padding-left: 15px;
    text-align: center;
}
section > h1 {
    font-size: 60px;
    color: #868f78;
    padding-left: 15px;
    text-align: center;
}
a {
    font-family: "My Special Font";
}
a:link {
    color: #ab7d88
}
a:hover {
    color: #ec9bae
}
a:visited {
    color: rgb(128, 128, 128)
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 5px;
}
button {
    background-color: #ab7d88;
    color: white;
    text-align: center;
    margin-top: 5px;
    
}

input[type="text"] {
    display: flex;
    justify-content: center;
    gap: 5px;
}

button:hover {
    background-color: #ec9bae;
}
li {
    font-family: "My Special Font";
    color: #50524d;
}
input[type="text"], input[type="number"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


@media (max-width: 640px) {
    body {
        margin-left: 16px; 
        margin-right: 16px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }

    .nav nav a {
        display: block; 
        margin-bottom: 8px;
    }
}