.container {
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "content content"
        "footer footer";
    max-width: 1000px; 
    gap: 3px; 
}

.container > div {
    padding: 10px;
    border: 2px solid #5c5761;
    border-radius: 10px;
    background-color: #cfc8d6;
}

.container > div.header {
    grid-area: header;
    text-align: left;
    padding: 1em 3em;
}

.container > div.nav {
    grid-area: nav;
    text-align: left;
    padding: 1em 3em;
}
.container > div.nav a {
    margin-right: 3em;
}

.container > div.content {
    grid-area: content;
    text-align: center;
    padding: 3em 5em; 
}

.container > div.content table {
    margin: 0 auto;
    text-align: center;

}

.container > div.footer {
    grid-area: footer;
    text-align: center;
    padding: 3em; 
}
.container > div.footer a {
    padding: 2em;
}

tr {
    text-align: center;
    padding: 1em;
}
td {
    color: #50524d;
    font-family: "My Special Font";
    font-size: 18px;
    padding: 3em, 5em;
}

th {
    color: #413845;
    font-family: "My Special Font";
    font-weight: bold;
    font-size: 24px;
}